@import "tailwindcss";

@theme {
  --color-gold: #D4AF37;
  --color-dark-gold: #996515;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@layer base {
  * {
    @apply border-white/10;
  }
}
